# PostgreSQL datasource for SCADA topology (uid=postgres for dashboards).
# Default password matches docker-compose default. For production, override
# by setting DB_PASSWORD and replacing this file or using a secret.
apiVersion: 1

datasources:
  - name: PostgreSQL
    type: postgres
    uid: postgres
    url: postgres:5432
    database: scada_topology
    user: scada_admin
    secureJsonData:
      password: scada_password
    jsonData:
      sslmode: disable
      maxOpenConns: 10
      maxIdleConns: 5
      connMaxLifetime: 14400
      postgresVersion: 1500
      timescaledb: false
    isDefault: true
    editable: false
